---
import {
    siAstro,
    siNodedotjs,
    siPostgresql,
    siReact,
    siTypescript,
    siDocker,
    siVite,
    siTailwindcss,
    siVuedotjs,
    siGit,
    siPhp,
    siPython
} from "simple-icons/icons";
---

<section id="stack" class="py-12 md:py-24 relative overflow-hidden">
    <div class="absolute inset-0 bg-gradient-to-b from-[#0c56e9]/5 via-white to-[#13ae95]/5 -z-10"></div>
    <div class="max-w-6xl mx-auto px-4 md:px-6">
        <h2 class="text-2xl sm:text-3xl md:text-4xl font-semibold mb-8 md:mb-12 bg-gradient-to-r from-[#171717] to-[#1e2aff]  bg-clip-text text-transparent">Technologies et langages</h2>
        <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 gap-4 md:gap-6">
            <div class="flex flex-col items-center gap-2 md:gap-3 hover:scale-110 transition-transform">
                <svg viewBox="0 0 24 24"
                     class="w-8 h-8 md:w-10 md:h-10 flex items-center justify-center hover-elevate ">
                    <path fill="#BC52EE" d={siAstro.path}/>
                </svg>
                <span class="text-xs md:text-sm font-mono text-center text-muted-foreground">
                    Astro
                </span>
            </div>

            <div class="flex flex-col items-center gap-2 md:gap-3 hover:scale-110 transition-transform">
                <svg viewBox="0 0 24 24"
                     class="w-8 h-8 md:w-10 md:h-10 flex items-center justify-center hover-elevate ">
                    <path fill="#5FA04E" d={siNodedotjs.path}/>
                </svg>
                <span class="text-xs md:text-sm font-mono text-center text-muted-foreground">
                    NodeJs
                </span>
            </div>

            <div class="flex flex-col items-center gap-2 md:gap-3 hover:scale-110 transition-transform">
                <svg viewBox="0 0 24 24"
                     class="w-8 h-8 md:w-10 md:h-10 flex items-center justify-center hover-elevate ">
                    <path fill="#4169E1" d={siPostgresql.path}/>
                </svg>
                <span class="text-xs md:text-sm font-mono text-center text-muted-foreground">
                    Postgresql
                </span>
            </div>

            <div class="flex flex-col items-center gap-2 md:gap-3 hover:scale-110 transition-transform">
                <svg viewBox="0 0 24 24"
                     class="w-8 h-8 md:w-10 md:h-10 flex items-center justify-center hover-elevate ">
                    <path fill="#61DAFB" d={siReact.path}/>
                </svg>
                <span class="text-xs md:text-sm font-mono text-center text-muted-foreground">
                    React
                </span>
            </div>

            <div class="flex flex-col items-center gap-2 md:gap-3 hover:scale-110 transition-transform">
                <svg viewBox="0 0 24 24"
                     class="w-8 h-8 md:w-10 md:h-10 flex items-center justify-center hover-elevate ">
                    <path fill="#3178C6" d={siTypescript.path}/>
                </svg>
                <span class="text-xs md:text-sm font-mono text-center text-muted-foreground">
                    Typescript
                </span>
            </div>

            <div class="flex flex-col items-center gap-2 md:gap-3 hover:scale-110 transition-transform">
                <svg viewBox="0 0 24 24"
                     class="w-8 h-8 md:w-10 md:h-10 flex items-center justify-center hover-elevate ">
                    <path fill="#2496ED" d={siDocker.path}/>
                </svg>
                <span class="text-xs md:text-sm font-mono text-center text-muted-foreground">
                    Docker
                </span>
            </div>

            <div class="flex flex-col items-center gap-2 md:gap-3 hover:scale-110 transition-transform">
                <svg viewBox="0 0 24 24"
                     class="w-8 h-8 md:w-10 md:h-10 flex items-center justify-center hover-elevate">
                    <path fill="#06B6D4" d={siVite.path}/>
                </svg>
                <span class="text-xs md:text-sm font-mono text-center text-muted-foreground">
                    Vite
                </span>
            </div>
            <div class="flex flex-col items-center gap-2 md:gap-3 hover:scale-110 transition-transform">
                <svg viewBox="0 0 24 24"
                     class="w-8 h-8 md:w-10 md:h-10 flex items-center justify-center hover-elevate">
                    <path fill="#06B6D4" d={siTailwindcss.path}/>
                </svg>
                <span class="text-xs md:text-sm font-mono text-center text-muted-foreground">
                    Tailwindcss
                </span>
            </div>
            <div class="flex flex-col items-center gap-2 md:gap-3 hover:scale-110 transition-transform">
                <svg viewBox="0 0 24 24"
                     class="w-8 h-8 md:w-10 md:h-10 flex items-center justify-center hover-elevate">
                    <path fill="#4FC08D" d={siVuedotjs.path}/>
                </svg>
                <span class="text-xs md:text-sm font-mono text-center text-muted-foreground">
                    VueJS
                </span>
            </div>
            <div class="flex flex-col items-center gap-2 md:gap-3 hover:scale-110 transition-transform">
                <svg viewBox="0 0 24 24"
                     class="w-8 h-8 md:w-10 md:h-10 flex items-center justify-center hover-elevate">
                    <path fill="#F05032" d={siGit.path}/>
                </svg>
                <span class="text-xs md:text-sm font-mono text-center text-muted-foreground">
                    Git
                </span>
            </div>

            <div class="flex flex-col items-center gap-2 md:gap-3 hover:scale-110 transition-transform">
                <svg viewBox="0 0 24 24"
                     class="w-8 h-8 md:w-10 md:h-10 flex items-center justify-center hover-elevate">
                    <path fill="#777BB4" d={siPhp.path}/>
                </svg>
                <span class="text-xs md:text-sm font-mono text-center text-muted-foreground">
                    Php
                </span>
            </div>

            <div class="flex flex-col items-center gap-2 md:gap-3 hover:scale-110 transition-transform">
                <svg viewBox="0 0 24 24"
                     class="w-8 h-8 md:w-10 md:h-10 flex items-center justify-center hover-elevate">
                    <path fill="#3776AB" d={siPython.path}/>
                </svg>
                <span class="text-xs md:text-sm font-mono text-center text-muted-foreground">
                    Python
                </span>
            </div>
        </div>
    </div>
</section>